<a href="https://colab.research.google.com/github/andersonfs94/emprestimos_acervo_biblioteca_UFRN/blob/main/emprestimos_acervo_biblioteca_UFRN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A quantidade de empréstimos está aumentando ou diminuindo ao decorrer dos últimos anos?

Em quais bibliotecas do sistema estão a maior quantidade de empréstimos?

Quais são os temas mais emprestados? E os menos?

 O seu primeiro passo é unificar em um único Dataframe todos os dados pertinentes para a análise.

 <s>Comece pelos empréstimos e você terá os dados das transações.</s>

  Depois, mescle com os dados do acervo, para que você possa entender, por exemplo, de qual biblioteca era o material emprestado ou a qual tema ele se referia. Elas se relacionam pela coluna de código de barras de cada material.

 Lembre-se que é muito comum receber dados nulos ou duplicados, por isso não deixe de fazer a limpeza.

# Importando Bibliotecas

# Importing Libraries

In [1]:
# Importando as bibliotecas
# Importing the libraries
import pandas as pd

# Coletando dados
# Collecting Data

In [29]:
# Salvando os CSVs em URLs
# Storing the CSVs in URLs
url_20101 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20101.csv"
url_20102 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20102.csv"
url_20111 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20111.csv"
url_20112 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20112.csv"
url_20121 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20121.csv"
url_20122 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20122.csv"
url_20131 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20131.csv"
url_20132 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20132.csv"
url_20141 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20141.csv"
url_20142 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20142.csv"
url_20151 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20151.csv"
url_20152 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20152.csv"
url_20161 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20161.csv"
url_20162 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20162.csv"
url_20171 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20171.csv"
url_20172 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20172.csv"
url_20181 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20181.csv"
url_20182 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20182.csv"
url_20191 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20191.csv"
url_20192 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20192.csv"
url_20201 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20201.csv"

# Lendo cada CSV a partir das URLs e armazenando em DataFrames
# Reading each CSV from URLs and storing them in DataFrames
dados_20101 = pd.read_csv(url_20101)
dados_20102 = pd.read_csv(url_20102)
dados_20111 = pd.read_csv(url_20111)
dados_20112 = pd.read_csv(url_20112)
dados_20121 = pd.read_csv(url_20121)
dados_20122 = pd.read_csv(url_20122)
dados_20131 = pd.read_csv(url_20131)
dados_20132 = pd.read_csv(url_20132)
dados_20141 = pd.read_csv(url_20141)
dados_20142 = pd.read_csv(url_20142)
dados_20151 = pd.read_csv(url_20151)
dados_20152 = pd.read_csv(url_20152)
dados_20161 = pd.read_csv(url_20161)
dados_20162 = pd.read_csv(url_20162)
dados_20171 = pd.read_csv(url_20171)
dados_20172 = pd.read_csv(url_20172)
dados_20181 = pd.read_csv(url_20181)
dados_20182 = pd.read_csv(url_20182)
dados_20191 = pd.read_csv(url_20191)
dados_20192 = pd.read_csv(url_20192)
dados_20201 = pd.read_csv(url_20201)

In [42]:
# Criando um dicionário para armazenar os DataFrames com seus respectivos nomes
# Creating a dictionary to store the DataFrames with their respective names
dataframes = {
    'dados_20101': dados_20101,
    'dados_20102': dados_20102,
    'dados_20111': dados_20111,
    'dados_20112': dados_20112,
    'dados_20121': dados_20121,
    'dados_20122': dados_20122,
    'dados_20131': dados_20131,
    'dados_20132': dados_20132,
    'dados_20141': dados_20141,
    'dados_20142': dados_20142,
    'dados_20151': dados_20151,
    'dados_20152': dados_20152,
    'dados_20161': dados_20161,
    'dados_20162': dados_20162,
    'dados_20171': dados_20171,
    'dados_20172': dados_20172,
    'dados_20181': dados_20181,
    'dados_20182': dados_20182,
    'dados_20191': dados_20191,
    'dados_20192': dados_20192,
    'dados_20201': dados_20201
}

# Visualizando os dados

# Visualizing the Data

In [ ]:
# Visualizando os dados
# Loop through each DataFrame in the dictionary and display its head (first 5 rows)
for name, df in dataframes.items():
    print(f"Head of {name}: \n")  # Print the name of the DataFrame
    print(df.head(), "\n")  # Print the first 5 rows of the DataFrame

In [48]:
# Unificar todos os DataFrames em um só
# Combine all DataFrames into a single DataFrame
dataframe_unificado = pd.concat(dataframes.values(), ignore_index=True)

# Visualize the first few rows of the combined DataFrame
print(dataframe_unificado.head())

   id_emprestimo codigo_barras                 data_renovacao  \
0         709684       L095049                            NaN
1         709685       L167050                            NaN
2         709686    2006017618  2010/01/26 08:07:01.738000000
3         709687       L184117  2010/01/18 11:07:46.470000000
4         709684       L095049                            NaN

                 data_emprestimo                 data_devolucao  \
0  2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000
1  2010/01/04 07:44:10.750000000  2010/01/12 07:34:13.934000000
2  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000
3  2010/01/04 08:24:21.284000000  2010/02/03 08:58:45.692000000
4  2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.008023e+09      ALUNO DE GRADUAÇÃO
1        2.008023e+09      ALUNO DE GRADUAÇÃO
2        2.008112e+09  ALUNO DE PÓS-GRADUAÇÃO
3        2.007211e+08      ALUNO DE GRADUAÇÃO
4        2.008023e+09      ALUNO DE GRADUAÇÃO

In [74]:
dataframe_unificado

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
8,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...
2258013,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
2258014,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
2258015,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
2258016,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO
2258017,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO

In [54]:
# Conta o número de valores nulos de cada coluna
# Count the number of null values in each column
dataframe_unificado.isnull().sum()

id_emprestimo                 0
codigo_barras                 0
data_renovacao          1285720
data_emprestimo               0
data_devolucao             6471
matricula_ou_siape         3170
tipo_vinculo_usuario          0
dtype: int64

In [61]:
# Count the number of duplicate values for each column
duplicate_counts_per_column = dataframe_unificado.apply(lambda x: x.duplicated().sum())
print("Number of duplicate values per column:")
print(duplicate_counts_per_column)

Number of duplicate values per column:
id_emprestimo                37
codigo_barras           1981261
data_renovacao          1287070
data_emprestimo             116
data_devolucao            28268
matricula_ou_siape      2155841
tipo_vinculo_usuario    2258010
dtype: int64

In [71]:
# Drop duplicate rows from the DataFrame
# This keeps the first occurrence of each duplicate row and removes the rest
dataframe_unificado = dataframe_unificado.drop_duplicates()

In [78]:
# Obter informações sobre o DataFrame unificado
# Get information about the combined DataFrame
dataframe_unificado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2257981 entries, 0 to 2258017
Data columns (total 7 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        object
 3   data_emprestimo       object
 4   data_devolucao        object
 5   matricula_ou_siape    float64
 6   tipo_vinculo_usuario  object
dtypes: float64(1), int64(1), object(5)
memory usage: 137.8+ MB

In [75]:
# URL to the Parquet file
url_parquet = "https://github.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/raw/main/dados_exemplares.parquet"

# Read the Parquet file from the URL into a DataFrame
df_parquet = pd.read_parquet(url_parquet)

# Display the DataFrame
df_parquet

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15
...,...,...,...,...,...,...,...
568580,1353472,2021011150,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,951,268231
568581,1353473,2019013454,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,997,268233
568582,1353474,2019012811,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,987,268234
568583,1353475,2019013451,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,764,268235
568584,1353476,2019012276,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,962,268236

In [79]:
df_parquet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 546237 entries, 0 to 568584
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id_exemplar       546237 non-null  int64
 1   codigo_barras     546237 non-null  object
 2   colecao           546237 non-null  object
 3   biblioteca        546237 non-null  object
 4   status_material   546237 non-null  object
 5   localizacao       546237 non-null  int64
 6   registro_sistema  546237 non-null  int64
dtypes: int64(3), object(4)
memory usage: 33.3+ MB

In [80]:
# Merging two DataFrames on a common column
df = dataframe_unificado.merge(df_parquet, on='codigo_barras', how='inner')

# Drop the index from the merged DataFrame
df = df.reset_index(drop=True)

df

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,726965,L095049,2010/03/31 12:41:08.684000000,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,2.009122e+09,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
2,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
3,717763,L167050,NaN,2010/02/11 11:16:30.335000000,2010/03/04 08:54:32.262000000,2.008050e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
4,729996,L167050,2010/03/17 09:08:26.874000000,2010/03/04 13:36:26.599000000,2010/03/31 18:04:29.669000000,2.007226e+08,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072517,2989018,2009036492,NaN,2020/03/17 19:49:10.187000000,2020/12/03 08:12:20.000000000,2.015011e+10,ALUNO DE GRADUAÇÃO,274820,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,676,120845
2072518,2989020,2014062640,NaN,2020/03/17 19:51:15.700000000,2021/01/07 11:16:28.000000000,2.019004e+10,ALUNO DE GRADUAÇÃO,1157915,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,228,213248
2072519,2989032,2018003324,NaN,2020/03/17 20:00:11.416000000,2021/08/30 13:29:44.000000000,2.019102e+10,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784,255835
2072520,2989049,2006024313,NaN,2020/03/17 20:47:18.741000000,NaN,2.015013e+10,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663,82178
2072521,2989061,2018031352,NaN,2020/03/17 21:22:22.138000000,2021/07/26 15:05:20.000000000,2.020001e+10,ALUNO DE GRADUAÇÃO,1342535,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,355,174443

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2072522 entries, 0 to 2072521
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        object
 3   data_emprestimo       object
 4   data_devolucao        object
 5   matricula_ou_siape    float64
 6   tipo_vinculo_usuario  object
 7   id_exemplar           int64
 8   colecao               object
 9   biblioteca            object
 10  status_material       object
 11  localizacao           int64
 12  registro_sistema      int64
dtypes: float64(1), int64(4), object(8)
memory usage: 205.6+ MB