<a href="https://colab.research.google.com/github/andersonfs94/emprestimos_acervo_biblioteca_UFRN/blob/main/emprestimos_acervo_biblioteca_UFRN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A quantidade de empréstimos está aumentando ou diminuindo ao decorrer dos últimos anos?

Em quais bibliotecas do sistema estão a maior quantidade de empréstimos?

Quais são os temas mais emprestados? E os menos?

 O seu primeiro passo é unificar em um único Dataframe todos os dados pertinentes para a análise.

 <s>Comece pelos empréstimos e você terá os dados das transações.</s>

 <s>Depois, mescle com os dados do acervo, para que você possa entender, por exemplo, de qual biblioteca era o material emprestado ou a qual tema ele se referia. Elas se relacionam pela coluna de código de barras de cada material.</s>

 Lembre-se que é muito comum receber dados nulos ou duplicados, por isso não deixe de fazer a limpeza.

# Importando Bibliotecas

# Importing Libraries

In [1]:
# Importando as bibliotecas
# Importing the libraries
import pandas as pd

# Coletando dados
# Collecting Data

In [2]:
# Salvando os CSVs em URLs
# Storing the CSVs in URLs
url_20101 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20101.csv"
url_20102 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20102.csv"
url_20111 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20111.csv"
url_20112 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20112.csv"
url_20121 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20121.csv"
url_20122 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20122.csv"
url_20131 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20131.csv"
url_20132 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20132.csv"
url_20141 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20141.csv"
url_20142 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20142.csv"
url_20151 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20151.csv"
url_20152 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20152.csv"
url_20161 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20161.csv"
url_20162 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20162.csv"
url_20171 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20171.csv"
url_20172 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20172.csv"
url_20181 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20181.csv"
url_20182 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20182.csv"
url_20191 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20191.csv"
url_20192 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20192.csv"
url_20201 = "https://raw.githubusercontent.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/main/emprestimos-20201.csv"

# Lendo cada CSV a partir das URLs e armazenando em DataFrames
# Reading each CSV from URLs and storing them in DataFrames
dados_20101 = pd.read_csv(url_20101)
dados_20102 = pd.read_csv(url_20102)
dados_20111 = pd.read_csv(url_20111)
dados_20112 = pd.read_csv(url_20112)
dados_20121 = pd.read_csv(url_20121)
dados_20122 = pd.read_csv(url_20122)
dados_20131 = pd.read_csv(url_20131)
dados_20132 = pd.read_csv(url_20132)
dados_20141 = pd.read_csv(url_20141)
dados_20142 = pd.read_csv(url_20142)
dados_20151 = pd.read_csv(url_20151)
dados_20152 = pd.read_csv(url_20152)
dados_20161 = pd.read_csv(url_20161)
dados_20162 = pd.read_csv(url_20162)
dados_20171 = pd.read_csv(url_20171)
dados_20172 = pd.read_csv(url_20172)
dados_20181 = pd.read_csv(url_20181)
dados_20182 = pd.read_csv(url_20182)
dados_20191 = pd.read_csv(url_20191)
dados_20192 = pd.read_csv(url_20192)
dados_20201 = pd.read_csv(url_20201)

In [3]:
# Criando um dicionário para armazenar os DataFrames com seus respectivos nomes
# Creating a dictionary to store the DataFrames with their respective names
dataframes = {
    'dados_20101': dados_20101,
    'dados_20102': dados_20102,
    'dados_20111': dados_20111,
    'dados_20112': dados_20112,
    'dados_20121': dados_20121,
    'dados_20122': dados_20122,
    'dados_20131': dados_20131,
    'dados_20132': dados_20132,
    'dados_20141': dados_20141,
    'dados_20142': dados_20142,
    'dados_20151': dados_20151,
    'dados_20152': dados_20152,
    'dados_20161': dados_20161,
    'dados_20162': dados_20162,
    'dados_20171': dados_20171,
    'dados_20172': dados_20172,
    'dados_20181': dados_20181,
    'dados_20182': dados_20182,
    'dados_20191': dados_20191,
    'dados_20192': dados_20192,
    'dados_20201': dados_20201
}

# Visualizando os dados

# Visualizing the Data

In [4]:
# Visualizando os dados
# Loop through each DataFrame in the dictionary and display its head (first 5 rows)
for name, df in dataframes.items():
    print(f"Head of {name}: \n")  # Print the name of the DataFrame
    print(df.head(), "\n")  # Print the first 5 rows of the DataFrame

Head of dados_20101:

   id_emprestimo codigo_barras                 data_renovacao  \
0         709684       L095049                            NaN
1         709685       L167050                            NaN
2         709686    2006017618  2010/01/26 08:07:01.738000000
3         709687       L184117  2010/01/18 11:07:46.470000000
4         709684       L095049                            NaN

                 data_emprestimo                 data_devolucao  \
0  2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000
1  2010/01/04 07:44:10.750000000  2010/01/12 07:34:13.934000000
2  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000
3  2010/01/04 08:24:21.284000000  2010/02/03 08:58:45.692000000
4  2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.008023e+09      ALUNO DE GRADUAÇÃO
1        2.008023e+09      ALUNO DE GRADUAÇÃO
2        2.008112e+09  ALUNO DE PÓS-GRADUAÇÃO
3        2.007211e+08      ALUNO DE GRADUAÇÃO
4        2.008023e+09      ALUNO DE GRADUAÇÃO

Head of dados_20102:

   id_emprestimo                codigo_barras                 data_renovacao  \
0         799100  S025602_19/11/2013 10:51:34                            NaN
1         799101                   2008049500                            NaN
2         799102                      X008043                            NaN
3         799103                   2009055438  2010/07/14 18:35:35.042000000
4         799104                      S024636  2010/07/16 21:29:43.569000000

                 data_emprestimo                 data_devolucao  \
0  2010/07/01 07:45:41.111000000  2010/07/07 10:52:31.000000000
1  2010/07/01 08:08:17.690000000  2010/07/01 09:03:44.000000000
2  2010/07/01 08:13:31.574000000  2010/07/09 15:14:44.000000000
3  2010/07/01 08:22:46.085000000  2010/07/29 14:59:16.000000000
4  2010/07/01 08:40:28.512000000  2010/07/28 07:49:32.000000000

   matricula_ou_siape tipo_vinculo_usuario
0        2.009050e+09   ALUNO DE GRADUAÇÃO
1        2.010056e+09   ALUNO DE GRADUAÇÃO
2        2.009043e+09   ALUNO DE GRADUAÇÃO
3        2.009054e+09   ALUNO DE GRADUAÇÃO
4        2.009054e+09   ALUNO DE GRADUAÇÃO

Head of dados_20111:

   id_emprestimo codigo_barras                 data_renovacao  \
0         920246       Y019450                            NaN
1         920247       Y020420                            NaN
2         920248       S020100  2011/01/17 23:31:17.992000000
3         920249       S024844  2011/01/17 23:31:17.944000000
4         920250       S026026  2011/01/17 23:31:17.915000000

                 data_emprestimo                 data_devolucao  \
0  2011/01/03 08:08:18.986000000  2011/01/14 08:36:10.000000000
1  2011/01/03 08:08:19.077000000  2011/01/14 08:36:27.000000000
2  2011/01/03 08:48:20.360000000  2011/01/18 12:37:26.000000000
3  2011/01/03 08:48:20.433000000  2011/02/07 17:46:44.000000000
4  2011/01/03 08:48:20.483000000  2011/01/18 12:37:43.000000000

   matricula_ou_siape             tipo_vinculo_usuario
0        2.010071e+09               ALUNO DE GRADUAÇÃO
1        2.010071e+09               ALUNO DE GRADUAÇÃO
2        1.636623e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO
3        1.636623e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO
4        1.636623e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO

Head of dados_20112:

   id_emprestimo codigo_barras                 data_renovacao  \
0        1028831    2011018942                            NaN
1        1028832    2007009824  2011/07/13 14:30:22.933000000
2        1028833    2007009936  2011/07/13 14:30:22.883000000
3        1028834    2009055437                            NaN
4        1028835    2010093874                            NaN

                 data_emprestimo                 data_devolucao  \
0  2011/07/01 07:25:27.592000000  2011/07/01 18:58:29.000000000
1  2011/07/01 07:46:01.133000000  2011/07/28 09:27:13.000000000
2  2011/07/01 07:46:01.203000000  2011/07/22 08:24:33.000000000
3  2011/07/01 07:52:18.019000000  2011/07/19 13:30:34.000000000
4  2011/07/01 07:52:18.102000000  2011/07/19 13:30:47.000000000

   matricula_ou_siape tipo_vinculo_usuario
0        2.011026e+09   ALUNO DE GRADUAÇÃO
1        2.009072e+09   ALUNO DE GRADUAÇÃO
2        2.009072e+09   ALUNO DE GRADUAÇÃO
3        2.010065e+09   ALUNO DE GRADUAÇÃO
4        2.010065e+09   ALUNO DE GRADUAÇÃO

Head of dados_20121:

   id_emprestimo codigo_barras                 data_renovacao  \
0        1149749    2010094241  2012/01/17 06:11:08.245000000
1        1149750    2011033432  2012/01/17 06:11:08.211000000
2        1149751    2011077429  2012/01/17 06:11:08.172000000
3        1149752    2011012082  2012/01/15 12:58:34.433000000
4        1149753    2007030983  2012/01/17 10:10:25.514000000

                 data_emprestimo                 data_devolucao  \
0  2012/01/02 07:43:45.619000000  2012/01/31 11:38:29.000000000
1  2012/01/02 07:43:45.673000000  2012/01/31 11:38:12.000000000
2  2012/01/02 07:43:45.718000000  2012/01/31 11:38:44.000000000
3  2012/01/02 08:26:07.711000000  2012/01/30 08:49:35.000000000
4  2012/01/02 08:31:42.179000000  2012/02/06 17:17:51.000000000

   matricula_ou_siape tipo_vinculo_usuario
0        2.009039e+09   ALUNO DE GRADUAÇÃO
1        2.009039e+09   ALUNO DE GRADUAÇÃO
2        2.009039e+09   ALUNO DE GRADUAÇÃO
3        2.009063e+09   ALUNO DE GRADUAÇÃO
4        2.011051e+09   ALUNO DE GRADUAÇÃO

Head of dados_20122:

   id_emprestimo codigo_barras                 data_renovacao  \
0        1282500    2009037511                            NaN
1        1282501    2010073018                            NaN
2        1282502    2012009920                            NaN
3        1282503    2012010334                            NaN
4        1282504    2007013584  2012/08/06 23:03:54.648000000

                 data_emprestimo                 data_devolucao  \
0  2012/07/02 08:46:50.254000000  2012/07/02 08:47:51.000000000
1  2012/07/02 09:11:58.745000000  2012/09/06 20:38:14.000000000
2  2012/07/02 09:11:58.808000000  2012/09/06 20:38:17.000000000
3  2012/07/02 09:11:58.876000000  2012/09/06 20:38:22.000000000
4  2012/07/02 09:11:59.409000000  2012/09/06 17:05:49.000000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.011101e+09  ALUNO DE PÓS-GRADUAÇÃO
1        2.008011e+09      ALUNO DE GRADUAÇÃO
2        2.008011e+09      ALUNO DE GRADUAÇÃO
3        2.008011e+09      ALUNO DE GRADUAÇÃO
4        2.011110e+09  ALUNO DE PÓS-GRADUAÇÃO

Head of dados_20131:

   id_emprestimo codigo_barras                 data_renovacao  \
0        1399987    2007022885                            NaN
1        1399988       Y017748                            NaN
2        1399989    2010085755                            NaN
3        1399990    2011062415  2013/02/01 11:25:03.172000000
4        1399991    2011023440                            NaN

                 data_emprestimo                 data_devolucao  \
0  2013/01/02 08:57:46.976000000  2013/01/08 16:35:08.000000000
1  2013/01/02 09:59:32.818000000  2013/01/17 08:58:34.000000000
2  2013/01/02 09:59:32.870000000  2013/01/17 08:58:41.000000000
3  2013/01/02 10:22:22.676000000  2013/02/18 15:32:23.000000000
4  2013/01/02 10:22:22.725000000  2013/01/04 09:55:07.000000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.010118e+09  ALUNO DE PÓS-GRADUAÇÃO
1        2.012905e+09      ALUNO DE GRADUAÇÃO
2        2.012905e+09      ALUNO DE GRADUAÇÃO
3        2.012111e+09  ALUNO DE PÓS-GRADUAÇÃO
4        2.012111e+09  ALUNO DE PÓS-GRADUAÇÃO

Head of dados_20132:

   id_emprestimo codigo_barras                 data_renovacao  \
0        1535182       E002010                            NaN
1        1535183    2010049079  2013/07/16 17:25:10.615000000
2        1535184    2011013154  2013/07/16 21:03:55.928000000
3        1535185    2011001485  2013/07/16 21:03:55.802000000
4        1535186    2012038972  2013/07/16 17:51:37.835000000

                 data_emprestimo                 data_devolucao  \
0  2013/07/01 07:47:13.765000000  2013/08/06 20:28:21.000000000
1  2013/07/01 07:47:23.170000000  2013/07/18 09:50:26.000000000
2  2013/07/01 07:54:01.549000000  2013/07/30 08:39:22.000000000
3  2013/07/01 07:54:01.611000000  2013/07/17 08:56:58.000000000
4  2013/07/01 08:23:51.535000000  2013/07/31 13:51:11.000000000

   matricula_ou_siape tipo_vinculo_usuario
0        2.012320e+09  ALUNO MÉDIO/TÉCNICO
1        2.009007e+09   ALUNO DE GRADUAÇÃO
2        2.011018e+09   ALUNO DE GRADUAÇÃO
3        2.011018e+09   ALUNO DE GRADUAÇÃO
4        2.011093e+09   ALUNO DE GRADUAÇÃO

Head of dados_20141:

   id_emprestimo codigo_barras                 data_renovacao  \
0        1659526       Y018631                            NaN
1        1659527    2011018134  2014/02/02 18:59:52.193000000
2        1659528    2013011501  2014/02/02 18:59:51.423000000
3        1659529    2012052570                            NaN
4        1659530    2012029554  2014/01/13 09:05:33.092000000

                 data_emprestimo                 data_devolucao  \
0  2014/01/02 07:27:19.018000000  2014/01/27 14:07:45.000000000
1  2014/01/02 07:57:33.780000000  2014/02/27 16:56:46.000000000
2  2014/01/02 07:57:33.891000000  2014/02/27 16:56:51.000000000
3  2014/01/02 08:01:27.966000000  2014/01/21 07:16:23.000000000
4  2014/01/02 08:04:35.150000000  2014/01/20 18:04:37.000000000

   matricula_ou_siape tipo_vinculo_usuario
0        2.011020e+09   ALUNO DE GRADUAÇÃO
1        3.456619e+06              DOCENTE
2        3.456619e+06              DOCENTE
3        2.013037e+09   ALUNO DE GRADUAÇÃO
4        2.013013e+09   ALUNO DE GRADUAÇÃO

Head of dados_20142:

   id_emprestimo codigo_barras                 data_renovacao  \
0        1772829       C002857                            NaN
1        1772830    2011061496                            NaN
2        1772831    2011065929                            NaN
3        1772832    2013106666                            NaN
4        1772833    2014000856  2014/07/16 14:40:34.640000000

                 data_emprestimo                 data_devolucao  \
0  2014/07/01 08:20:40.476000000  2014/07/01 09:55:02.000000000
1  2014/07/01 08:20:40.567000000  2014/07/01 08:26:05.000000000
2  2014/07/01 08:20:40.675000000  2014/07/21 07:14:12.000000000
3  2014/07/01 08:20:40.797000000  2014/07/01 08:26:23.000000000
4  2014/07/01 08:20:56.969000000  2014/07/25 10:22:13.000000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.013124e+09  ALUNO DE PÓS-GRADUAÇÃO
1        2.013124e+09  ALUNO DE PÓS-GRADUAÇÃO
2        2.013124e+09  ALUNO DE PÓS-GRADUAÇÃO
3        2.013124e+09  ALUNO DE PÓS-GRADUAÇÃO
4        2.013075e+09      ALUNO DE GRADUAÇÃO

Head of dados_20151:

   id_emprestimo codigo_barras                 data_renovacao  \
0        1895298    2014007904                            NaN
1        1895299    2014061826                            NaN
2        1895300    2014059501                            NaN
3        1895301    2014037987                            NaN
4        1895302    2014059024  2015/01/16 16:01:54.126000000

                 data_emprestimo                 data_devolucao  \
0  2015/01/02 08:48:54.915000000  2015/02/09 16:15:02.000000000
1  2015/01/02 08:48:55.227000000  2015/02/09 16:15:08.000000000
2  2015/01/02 08:48:55.495000000  2015/02/09 16:15:15.000000000
3  2015/01/02 09:01:36.820000000  2015/04/13 16:54:20.000000000
4  2015/01/02 09:16:49.566000000  2015/02/03 16:00:40.000000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.010116e+09  ALUNO DE PÓS-GRADUAÇÃO
1        2.010116e+09  ALUNO DE PÓS-GRADUAÇÃO
2        2.010116e+09  ALUNO DE PÓS-GRADUAÇÃO
3        2.010116e+09  ALUNO DE PÓS-GRADUAÇÃO
4        2.013022e+09      ALUNO DE GRADUAÇÃO

Head of dados_20152:

   id_emprestimo codigo_barras                 data_renovacao  \
0        2022146    2015009397                            NaN
1        2022147    2010052834                            NaN
2        2022148    2010052992                            NaN
3        2022149    2011021723                            NaN
4        2022150    2015005875  2015/07/16 23:19:18.731000000

                 data_emprestimo                 data_devolucao  \
0  2015/07/01 08:12:35.943000000  2015/07/22 08:48:28.000000000
1  2015/07/01 08:37:41.729000000  2015/07/02 11:42:26.000000000
2  2015/07/01 08:37:42.223000000  2015/07/06 15:05:49.000000000
3  2015/07/01 08:37:42.628000000  2015/07/02 11:42:31.000000000
4  2015/07/01 08:38:08.589000000  2015/10/28 12:34:41.000000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.014082e+09      ALUNO DE GRADUAÇÃO
1        2.014128e+09  ALUNO DE PÓS-GRADUAÇÃO
2        2.014128e+09  ALUNO DE PÓS-GRADUAÇÃO
3        2.014128e+09  ALUNO DE PÓS-GRADUAÇÃO
4        2.013018e+09      ALUNO DE GRADUAÇÃO

Head of dados_20161:

   id_emprestimo codigo_barras                 data_renovacao  \
0        2351371    2011010806  2016/01/13 07:22:40.736000000
1        2351372       L078593  2016/01/31 07:31:36.960000000
2        2351373    2010040100  2016/01/31 07:31:36.902000000
3        2351374    2013105705  2016/01/31 07:31:36.843000000
4        2351375       L057436  2016/01/31 07:30:36.293000000

                 data_emprestimo                 data_devolucao  \
0  2016/01/02 08:01:14.113000000  2016/01/30 07:05:05.000000000
1  2016/01/02 08:29:46.657000000  2016/02/21 13:16:48.000000000
2  2016/01/02 08:29:46.722000000  2016/02/21 13:16:33.000000000
3  2016/01/02 08:29:46.794000000  2016/02/21 13:15:46.000000000
4  2016/01/02 08:38:40.009000000  2016/02/21 13:16:29.000000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.014036e+09      ALUNO DE GRADUAÇÃO
1        2.016101e+10  ALUNO DE PÓS-GRADUAÇÃO
2        2.016101e+10  ALUNO DE PÓS-GRADUAÇÃO
3        2.016101e+10  ALUNO DE PÓS-GRADUAÇÃO
4        2.016101e+10  ALUNO DE PÓS-GRADUAÇÃO

Head of dados_20162:

   id_emprestimo codigo_barras                 data_renovacao  \
0        2244075    2014000938  2016/07/18 08:45:47.144000000
1        2244076    2014068108                            NaN
2        2244077    2011019724                            NaN
3        2244078    2013087606                            NaN
4        2244079    2015035561  2016/07/17 10:04:58.043000000

                 data_emprestimo                 data_devolucao  \
0  2016/07/01 07:35:35.546000000  2016/08/02 13:41:40.000000000
1  2016/07/01 08:15:16.838000000  2016/07/01 08:19:09.000000000
2  2016/07/01 08:23:08.484000000  2016/07/01 08:23:52.000000000
3  2016/07/01 08:28:36.707000000  2016/07/18 08:31:59.000000000
4  2016/07/01 08:29:36.655000000  2016/07/25 11:45:48.000000000

   matricula_ou_siape             tipo_vinculo_usuario
0        1.120256e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO
1        2.013056e+09               ALUNO DE GRADUAÇÃO
2        2.013056e+09               ALUNO DE GRADUAÇÃO
3        2.243905e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO
4        2.410747e+06                          DOCENTE

Head of dados_20171:

   id_emprestimo codigo_barras                 data_renovacao  \
0        9405484    2011010806  2017/01/13 07:22:40.736000000
1        9405488       L078593  2017/01/31 07:31:36.960000000
2        9405492    2010040100  2017/01/31 07:31:36.902000000
3        9405496    2013105705  2017/01/31 07:31:36.843000000
4        9405500       L057436  2017/01/31 07:30:36.293000000

                 data_emprestimo                 data_devolucao  \
0  2017/01/02 08:01:14.113000000  2017/01/30 07:05:05.000000000
1  2017/01/02 08:29:46.657000000  2017/02/21 13:16:48.000000000
2  2017/01/02 08:29:46.722000000  2017/02/21 13:16:33.000000000
3  2017/01/02 08:29:46.794000000  2017/02/21 13:15:46.000000000
4  2017/01/02 08:38:40.009000000  2017/02/21 13:16:29.000000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.014036e+09      ALUNO DE GRADUAÇÃO
1        2.016101e+10  ALUNO DE PÓS-GRADUAÇÃO
2        2.016101e+10  ALUNO DE PÓS-GRADUAÇÃO
3        2.016101e+10  ALUNO DE PÓS-GRADUAÇÃO
4        2.016101e+10  ALUNO DE PÓS-GRADUAÇÃO

Head of dados_20172:

   id_emprestimo codigo_barras                 data_renovacao  \
0        9880640    2015035868                            NaN
1        9880644       Y012079  2017/07/18 17:56:06.584000000
2        9880648    2014086285  2017/08/02 03:03:43.220000000
3        9880652    2014083935  2017/08/02 03:03:43.197000000
4        9880656    2014086281  2017/08/02 03:03:43.175000000

                 data_emprestimo                 data_devolucao  \
0  2017/07/03 07:11:59.514000000  2017/07/03 07:12:27.000000000
1  2017/07/03 07:50:51.650000000  2017/08/09 18:53:58.000000000
2  2017/07/03 08:20:56.988000000  2017/09/01 07:48:33.000000000
3  2017/07/03 08:20:57.085000000  2017/09/01 07:48:51.000000000
4  2017/07/03 08:20:57.144000000  2017/09/01 07:49:01.000000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.016043e+09      ALUNO DE GRADUAÇÃO
1        2.015013e+10      ALUNO DE GRADUAÇÃO
2        2.017102e+10  ALUNO DE PÓS-GRADUAÇÃO
3        2.017102e+10  ALUNO DE PÓS-GRADUAÇÃO
4        2.017102e+10  ALUNO DE PÓS-GRADUAÇÃO

Head of dados_20181:

   id_emprestimo codigo_barras                 data_renovacao  \
0        2580583    2013114890  2018/01/17 12:38:14.159000000
1        2580584    2015030473  2018/01/17 12:38:14.140000000
2        2580585    2016025968  2018/01/17 12:38:14.116000000
3        2580586       L146150                            NaN
4        2580587       L028286                            NaN

                 data_emprestimo                 data_devolucao  \
0  2018/01/02 07:38:43.431000000  2018/02/08 10:11:11.000000000
1  2018/01/02 07:38:43.521000000  2018/02/08 10:11:08.000000000
2  2018/01/02 07:38:43.567000000  2018/02/08 10:11:06.000000000
3  2018/01/02 08:00:21.472000000  2018/01/03 14:00:26.000000000
4  2018/01/02 08:00:21.517000000  2018/01/18 16:49:40.000000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.019102e+10  ALUNO DE PÓS-GRADUAÇÃO
1        2.019102e+10  ALUNO DE PÓS-GRADUAÇÃO
2        2.019102e+10  ALUNO DE PÓS-GRADUAÇÃO
3        2.017100e+10  ALUNO DE PÓS-GRADUAÇÃO
4        2.017100e+10  ALUNO DE PÓS-GRADUAÇÃO

Head of dados_20182:

   id_emprestimo codigo_barras data_renovacao                data_emprestimo  \
0        2687741    2009041943            NaN  2018/07/02 07:22:07.972000000
1        2687742    2010071290            NaN  2018/07/02 07:22:43.445000000
2        2687743    2011039790            NaN  2018/07/02 08:09:46.452000000
3        2687744    2015005673            NaN  2018/07/02 08:09:46.549000000
4        2687745    2015005662            NaN  2018/07/02 08:09:46.609000000

                  data_devolucao  matricula_ou_siape tipo_vinculo_usuario
0  2018/07/03 07:23:28.000000000        2.018302e+10      DOCENTE EXTERNO
1  2018/07/03 07:23:36.000000000        2.018302e+10      DOCENTE EXTERNO
2  2018/07/04 09:53:51.000000000        2.017302e+10  ALUNO MÉDIO/TÉCNICO
3  2018/07/04 09:53:57.000000000        2.017302e+10  ALUNO MÉDIO/TÉCNICO
4  2018/07/04 09:54:07.000000000        2.017302e+10  ALUNO MÉDIO/TÉCNICO

Head of dados_20191:

   id_emprestimo codigo_barras                 data_renovacao  \
0        2782809       L169931                            NaN
1        2782810       L099542                            NaN
2        2782811       L199924                            NaN
3        2782812    2010081229  2019/01/17 06:20:06.044000000
4        2782813    2018022572  2019/01/17 06:20:06.019000000

                 data_emprestimo                 data_devolucao  \
0  2019/01/02 08:09:52.211000000  2019/01/25 11:40:31.000000000
1  2019/01/02 08:09:52.286000000  2019/01/03 18:29:29.000000000
2  2019/01/02 08:09:52.321000000  2019/01/25 11:40:25.000000000
3  2019/01/02 08:30:25.722000000  2019/01/28 08:22:55.000000000
4  2019/01/02 08:30:25.758000000  2019/01/28 08:22:42.000000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.019101e+10  ALUNO DE PÓS-GRADUAÇÃO

In [5]:
# Unificar todos os DataFrames em um só
# Combine all DataFrames into a single DataFrame
dataframe_unificado = pd.concat(dataframes.values(), ignore_index=True)

# Visualize the first few rows of the combined DataFrame
print(dataframe_unificado.head())

   id_emprestimo codigo_barras                 data_renovacao  \
0         709684       L095049                            NaN
1         709685       L167050                            NaN
2         709686    2006017618  2010/01/26 08:07:01.738000000
3         709687       L184117  2010/01/18 11:07:46.470000000
4         709684       L095049                            NaN

                 data_emprestimo                 data_devolucao  \
0  2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000
1  2010/01/04 07:44:10.750000000  2010/01/12 07:34:13.934000000
2  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000
3  2010/01/04 08:24:21.284000000  2010/02/03 08:58:45.692000000
4  2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.008023e+09      ALUNO DE GRADUAÇÃO
1        2.008023e+09      ALUNO DE GRADUAÇÃO
2        2.008112e+09  ALUNO DE PÓS-GRADUAÇÃO
3        2.007211e+08      ALUNO DE GRADUAÇÃO
4        2.008023e+09      ALUNO DE GRADUAÇÃO

In [6]:
dataframe_unificado

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...
2258013,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
2258014,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
2258015,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
2258016,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO
2258017,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO

In [7]:
# Conta o número de valores nulos de cada coluna
# Count the number of null values in each column
dataframe_unificado.isnull().sum()

id_emprestimo                 0
codigo_barras                 0
data_renovacao          1285720
data_emprestimo               0
data_devolucao             6471
matricula_ou_siape         3170
tipo_vinculo_usuario          0
dtype: int64

In [8]:
# Count the number of duplicate values for each column
duplicate_counts_per_column = dataframe_unificado.apply(lambda x: x.duplicated().sum())
print("Number of duplicate values per column:")
print(duplicate_counts_per_column)

Number of duplicate values per column:
id_emprestimo                37
codigo_barras           1981261
data_renovacao          1287070
data_emprestimo             116
data_devolucao            28268
matricula_ou_siape      2155841
tipo_vinculo_usuario    2258010
dtype: int64

In [9]:
# Drop duplicate rows from the DataFrame
# This keeps the first occurrence of each duplicate row and removes the rest
dataframe_unificado = dataframe_unificado.drop_duplicates()

In [10]:
# Obter informações sobre o DataFrame unificado
# Get information about the combined DataFrame
dataframe_unificado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2257981 entries, 0 to 2258017
Data columns (total 7 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        object
 3   data_emprestimo       object
 4   data_devolucao        object
 5   matricula_ou_siape    float64
 6   tipo_vinculo_usuario  object
dtypes: float64(1), int64(1), object(5)
memory usage: 137.8+ MB

In [11]:
# URL to the Parquet file
url_parquet = "https://github.com/andersonfs94/emprestimos_acervo_biblioteca_UFRN/raw/main/dados_exemplares.parquet"

# Read the Parquet file from the URL into a DataFrame
df_parquet = pd.read_parquet(url_parquet)

# Display the DataFrame
df_parquet

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15
...,...,...,...,...,...,...,...
568580,1353472,2021011150,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,951,268231
568581,1353473,2019013454,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,997,268233
568582,1353474,2019012811,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,987,268234
568583,1353475,2019013451,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,764,268235
568584,1353476,2019012276,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,962,268236

In [12]:
df_parquet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 546237 entries, 0 to 568584
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id_exemplar       546237 non-null  int64
 1   codigo_barras     546237 non-null  object
 2   colecao           546237 non-null  object
 3   biblioteca        546237 non-null  object
 4   status_material   546237 non-null  object
 5   localizacao       546237 non-null  int64
 6   registro_sistema  546237 non-null  int64
dtypes: int64(3), object(4)
memory usage: 33.3+ MB

In [13]:
# Merging two DataFrames on a common column
df = dataframe_unificado.merge(df_parquet, on='codigo_barras', how='inner')

# Drop the index from the merged DataFrame
df = df.reset_index(drop=True)

df

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,726965,L095049,2010/03/31 12:41:08.684000000,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,2.009122e+09,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
2,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
3,717763,L167050,NaN,2010/02/11 11:16:30.335000000,2010/03/04 08:54:32.262000000,2.008050e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
4,729996,L167050,2010/03/17 09:08:26.874000000,2010/03/04 13:36:26.599000000,2010/03/31 18:04:29.669000000,2.007226e+08,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072517,2989018,2009036492,NaN,2020/03/17 19:49:10.187000000,2020/12/03 08:12:20.000000000,2.015011e+10,ALUNO DE GRADUAÇÃO,274820,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,676,120845
2072518,2989020,2014062640,NaN,2020/03/17 19:51:15.700000000,2021/01/07 11:16:28.000000000,2.019004e+10,ALUNO DE GRADUAÇÃO,1157915,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,228,213248
2072519,2989032,2018003324,NaN,2020/03/17 20:00:11.416000000,2021/08/30 13:29:44.000000000,2.019102e+10,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784,255835
2072520,2989049,2006024313,NaN,2020/03/17 20:47:18.741000000,NaN,2.015013e+10,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663,82178
2072521,2989061,2018031352,NaN,2020/03/17 21:22:22.138000000,2021/07/26 15:05:20.000000000,2.020001e+10,ALUNO DE GRADUAÇÃO,1342535,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,355,174443

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2072522 entries, 0 to 2072521
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        object
 3   data_emprestimo       object
 4   data_devolucao        object
 5   matricula_ou_siape    float64
 6   tipo_vinculo_usuario  object
 7   id_exemplar           int64
 8   colecao               object
 9   biblioteca            object
 10  status_material       object
 11  localizacao           int64
 12  registro_sistema      int64
dtypes: float64(1), int64(4), object(8)
memory usage: 205.6+ MB

In [15]:
# Exclusão da coluna registro_sistema do dataframe.
# Drop of the registro_sistema column of the dataframe.
df.drop(columns=['registro_sistema'], inplace=True)

df

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630
1,726965,L095049,2010/03/31 12:41:08.684000000,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,2.009122e+09,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630
2,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647
3,717763,L167050,NaN,2010/02/11 11:16:30.335000000,2010/03/04 08:54:32.262000000,2.008050e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647
4,729996,L167050,2010/03/17 09:08:26.874000000,2010/03/04 13:36:26.599000000,2010/03/31 18:04:29.669000000,2.007226e+08,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647
...,...,...,...,...,...,...,...,...,...,...,...,...
2072517,2989018,2009036492,NaN,2020/03/17 19:49:10.187000000,2020/12/03 08:12:20.000000000,2.015011e+10,ALUNO DE GRADUAÇÃO,274820,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,676
2072518,2989020,2014062640,NaN,2020/03/17 19:51:15.700000000,2021/01/07 11:16:28.000000000,2.019004e+10,ALUNO DE GRADUAÇÃO,1157915,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,228
2072519,2989032,2018003324,NaN,2020/03/17 20:00:11.416000000,2021/08/30 13:29:44.000000000,2.019102e+10,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784
2072520,2989049,2006024313,NaN,2020/03/17 20:47:18.741000000,NaN,2.015013e+10,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663
2072521,2989061,2018031352,NaN,2020/03/17 21:22:22.138000000,2021/07/26 15:05:20.000000000,2.020001e+10,ALUNO DE GRADUAÇÃO,1342535,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,355

In [16]:
# Alterando a tipagem da coluna de 'matricula_ou_siape' de float64 para o tipo string
# Changing the data type of the 'matricula_ou_siape' column from float64 to string
df['matricula_ou_siape'] = df['matricula_ou_siape'].astype(str)

df

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630
1,726965,L095049,2010/03/31 12:41:08.684000000,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,2009121584.0,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630
2,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647
3,717763,L167050,NaN,2010/02/11 11:16:30.335000000,2010/03/04 08:54:32.262000000,2008050352.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647
4,729996,L167050,2010/03/17 09:08:26.874000000,2010/03/04 13:36:26.599000000,2010/03/31 18:04:29.669000000,200722565.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647
...,...,...,...,...,...,...,...,...,...,...,...,...
2072517,2989018,2009036492,NaN,2020/03/17 19:49:10.187000000,2020/12/03 08:12:20.000000000,20150109837.0,ALUNO DE GRADUAÇÃO,274820,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,676
2072518,2989020,2014062640,NaN,2020/03/17 19:51:15.700000000,2021/01/07 11:16:28.000000000,20190035012.0,ALUNO DE GRADUAÇÃO,1157915,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,228
2072519,2989032,2018003324,NaN,2020/03/17 20:00:11.416000000,2021/08/30 13:29:44.000000000,20191021693.0,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784
2072520,2989049,2006024313,NaN,2020/03/17 20:47:18.741000000,NaN,20150129867.0,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663
2072521,2989061,2018031352,NaN,2020/03/17 21:22:22.138000000,2021/07/26 15:05:20.000000000,20200005327.0,ALUNO DE GRADUAÇÃO,1342535,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,355

In [20]:
# Cria um dicionário para o intervalo de classificações
# Create a dictionary for the classification ranges
classification_dict = {
    range(0, 100): 'Generalidades. Ciência e conhecimento.',       # 000-099
    range(100, 200): 'Filosofia e psicologia.',                      # 100-199
    range(200, 300): 'Religião.',                                    # 200-299
    range(300, 400): 'Ciências sociais.',                            # 300-399
    range(400, 500): 'Classe vaga. Provisoriamente não ocupada.',     # 400-499
    range(500, 600): 'Matemática e ciências naturais.',              # 500-599
    range(600, 700): 'Ciências aplicadas.',                          # 600-699
    range(700, 800): 'Belas artes.',                                 # 700-799
    range(800, 900): 'Linguagem. Língua. Linguística.',              # 800-899
    range(900, 1000): 'Geografia. Biografia. História.'               # 900-999
}

# Função para classificar o valor baseado no dicionário
# Function to classify the value based on the dictionary
def classify_value(value):
    for range_key, label in classification_dict.items():
        if int(value) in range_key:
            return label
    return 'Unknown'  # Return 'Unknown' if the value doesn't match any range

# Garantindo que a coluna 'localizacao' seja do tipo numérico
# Ensure the 'localizacao' column is numeric
df['localizacao'] = pd.to_numeric(df['localizacao'], errors='coerce')

# Criando a nova coluna 'classificacao' usando a função de classificação
# Create the 'classificacao' column based on the 'localizacao' column using the classification function
df['classificacao'] = df['localizacao'].apply(classify_value)

# Exibindo o DataFrame atualizado
# Display the updated DataFrame
df

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,classificacao
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas.
1,726965,L095049,2010/03/31 12:41:08.684000000,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,2009121584.0,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas.
2,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas.
3,717763,L167050,NaN,2010/02/11 11:16:30.335000000,2010/03/04 08:54:32.262000000,2008050352.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas.
4,729996,L167050,2010/03/17 09:08:26.874000000,2010/03/04 13:36:26.599000000,2010/03/31 18:04:29.669000000,200722565.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas.
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072517,2989018,2009036492,NaN,2020/03/17 19:49:10.187000000,2020/12/03 08:12:20.000000000,20150109837.0,ALUNO DE GRADUAÇÃO,274820,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,676,Ciências aplicadas.
2072518,2989020,2014062640,NaN,2020/03/17 19:51:15.700000000,2021/01/07 11:16:28.000000000,20190035012.0,ALUNO DE GRADUAÇÃO,1157915,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,228,Religião.
2072519,2989032,2018003324,NaN,2020/03/17 20:00:11.416000000,2021/08/30 13:29:44.000000000,20191021693.0,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784,Belas artes.
2072520,2989049,2006024313,NaN,2020/03/17 20:47:18.741000000,NaN,20150129867.0,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663,Ciências aplicadas.
2072521,2989061,2018031352,NaN,2020/03/17 21:22:22.138000000,2021/07/26 15:05:20.000000000,20200005327.0,ALUNO DE GRADUAÇÃO,1342535,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,355,Ciências sociais.